@inherits LayoutComponentBase
@inject GlobalInfoClass _globalClass;
@inject NavigationManager NavigationManager

<MudThemeProvider Theme="AppTheme.Theme" IsDarkMode="_globalClass.IsDarkMode" />
<MudPopoverProvider />
<MudDialogProvider
    FullWidth="true"
    MaxWidth="MaxWidth.Small"
    CloseButton="false"
    Position="DialogPosition.Center"
    CloseOnEscapeKey="true"/>
<MudSnackbarProvider />

<PageTitle>UI</PageTitle>

<div class="page">
    <MudLayout>
        <MudAppBar Elevation="0" Dense="true">
            <NavMenu />
        </MudAppBar>
        @if (IsOptionsPage)
        {
            <UI.Components.OptionNavigationComponent />
        }
        <MudMainContent>
            <MudContainer MaxWidth="MaxWidth.ExtraExtraLarge" Class="pt-4">
                @Body
            </MudContainer>
        </MudMainContent>
    </MudLayout>
</div>

@code {
    private bool IsOptionsPage => NavigationManager.Uri.Contains("/options");
}