@inherits LayoutComponentBase
@inject GlobalInfoClass _globalClass;

<MudThemeProvider Theme="AppTheme.Theme" IsDarkMode="_globalClass.IsDarkMode" />
<MudPopoverProvider />
<MudDialogProvider 
    FullWidth="true"
    MaxWidth="MaxWidth.Small"
    CloseButton="false"
    Position="DialogPosition.Center"
    CloseOnEscapeKey="true"/>
<MudSnackbarProvider />

<PageTitle>UI</PageTitle>

<div class="page">
    <MudLayout>
        <MudAppBar Elevation="0" Dense="true">
            <NavMenu />
        </MudAppBar>
        <MudMainContent>
            <MudContainer MaxWidth="MaxWidth.ExtraExtraLarge" Class="pt-4">
                @Body
            </MudContainer>
        </MudMainContent>
    </MudLayout>
</div>