@inherits LayoutComponentBase
<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider 
    FullWidth="true"
    MaxWidth="MaxWidth.Small"
    CloseButton="false"
    Position="DialogPosition.Center"
    CloseOnEscapeKey="true"/>
<MudSnackbarProvider />

<PageTitle>UI</PageTitle>

<div class="page">
    <MudLayout>
        <MudAppBar Elevation="35" Dense="true" Style="background-image: linear-gradient( 109.6deg,  rgba(43, 87, 173,1) 11.2%, rgba(102,51,153,1) 91.1% );">
            <NavMenu />
        </MudAppBar>
        <MudMainContent>
            <MudContainer MaxWidth="MaxWidth.ExtraExtraLarge" Class="pt-4">
                @Body
            </MudContainer>
        </MudMainContent>
    </MudLayout>
</div>